<mat-stepper labelPosition="bottom" animationDuration="0" #stepper>
  <!--ICON OVERRIDES-->
  <ng-template matStepperIcon="document">
    <mat-icon>insert_drive_file</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="notDone">
    <mat-icon>edit</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="edit" let-index="index">
    <mat-icon *ngIf="this.stepper.steps.get(index)?.state == 'document'"
      >insert_drive_file</mat-icon
    >
    <mat-icon *ngIf="!(this.stepper.steps.get(index)?.state == 'document')">
      edit
    </mat-icon>
  </ng-template>
  <ng-template matStepperIcon="done" let-index="index">
    <mat-icon *ngIf="this.stepper.steps.get(index)?.state == 'document'"
      >insert_drive_file</mat-icon
    >
    <mat-icon *ngIf="!(this.stepper.steps.get(index)?.state == 'document')">
      done
    </mat-icon>
  </ng-template>
  <!--END ICON OVERRIDES-->

  <mat-step
    *ngFor="let stage of stages; let indexOfelement = index"
    [completed]="stage.isDone"
    [label]="stage.name | translate"
    [state]="stage.isDocument ? 'document' : 'notDone'"
  >
    <hr class="w-75 mx-auto my-0" />
    <br />
    <ng-template matStepContent>
      <ng-template
        *ngIf="stage.isActive"
        dynamicComponentLoader
        [componentType]="stage.contents"
        (output)="handleChildOutput(indexOfelement, $event)"
        #contents
      >
      </ng-template>
      <div class="d-flex">
        <button mat-button matStepperPrevious [disabled]="indexOfelement == 0">
          {{ "back" | translate }}
        </button>
        <div class="col"></div>
        <button
          mat-button
          [disabled]="this.childOutput[indexOfelement]?.status == 'INVALID'"
          matStepperNext
        >
          {{ "next" | translate }}
        </button>
      </div>
    </ng-template>
  </mat-step>
</mat-stepper>
