<mat-toolbar class="sticky-top">
  <div>
    <button mat-button routerLink="" class="col">
      <mat-icon>home</mat-icon>
      {{ "toolbar_home" | translate }}
    </button>

    <button mat-button routerLink="about" class="col">
      <mat-icon>psychology_alt</mat-icon>
      {{ "toolbar_we_are" | translate }}
    </button>

    <button mat-button routerLink="contact" class="col">
      <mat-icon>phone</mat-icon>
      {{ "toolbar_contact" | translate }}
    </button>
    <button
      mat-button
      routerLink="eval"
      class="col"
      *ngIf="userHasPermissions('ADD_NEW_EVAL')"
    >
      <mat-icon>add</mat-icon>
      {{ "new_eval" | translate }}
    </button>

    <!--TODO debug only-->
    <button
      mat-button
      routerLink="fill-form"
      class="col"
      *ngIf="userHasPermissions('FILL_FORM')"
    >
      <mat-icon>add</mat-icon>
      {{ "fill_form" | translate }}
    </button>
  </div>

  <!--empty div -->
  <div class="col"></div>

  <div class="">
    <!--language-->
    <button mat-button class="col w-10" (click)="changeLanguage()">
      <img
        src="/assets/img/flags/{{ this.languageCode }}.png"
        height="24"
        width="24"
      />
    </button>

    <!--user registering-->
    <button
      mat-button
      routerLink="login"
      class="col"
      *ngIf="!this.loginService.isLoggedIn()"
    >
      <mat-icon>login</mat-icon>
      {{ "toolbar_log_in" | translate }}
    </button>
    <button
      mat-button
      routerLink="register"
      class="col"
      *ngIf="!this.loginService.isLoggedIn()"
    >
      <mat-icon>person</mat-icon>
      {{ "toolbar_sign_up" | translate }}
    </button>
    <button mat-button class="col" *ngIf="this.loginService.isLoggedIn()">
      <mat-icon>person</mat-icon>
      {{ this.loginService.getLoggedInUsername() }}
    </button>
    <button
      mat-button
      class="col"
      *ngIf="this.loginService.isLoggedIn()"
      (click)="logout()"
    >
      <mat-icon>cancel</mat-icon>
      {{ "toolbar_log_out" | translate }}
    </button>
  </div>
</mat-toolbar>
