<div class="d-flex align-items-center">
  <h6>{{ title | translate }}</h6>
  <app-info-icon
    class="pb-2"
    [size]="32"
    [info]="info | translate"
  ></app-info-icon>
</div>

<mat-table [dataSource]="items" class="mat-elevation-z8 mt-2 w-100">
  <ng-container
    *ngFor="let column of fieldsConfig"
    [matColumnDef]="column.field"
  >
    <mat-header-cell *matHeaderCellDef>
      {{ column.header | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element[column.field] }}</mat-cell>
  </ng-container>

  <ng-container *ngIf="config.action" matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="d-flex justify-content-center">
    </mat-header-cell>
    <mat-cell *matCellDef="let element" class="d-flex justify-content-center">
      <button
        mat-button
        [disabled]="
          this.config.actionAvailability
            ? this.config.actionAvailability(element)
            : false
        "
        style="width: auto"
        (click)="this.actionEvent.emit(element)"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
          <path
            d="M0 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v6h8V5l5 5-5 5v-3z"
          />
        </svg>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<div class="d-flex">
  <div
    class="text-danger text-nowrap mt-2 ms-2 col"
    *ngFor="let error of listOfErrors()"
  >
    {{ error | translate }}
  </div>
  <div *ngIf="canAddRemove" class="mt-2 me-2 d-flex flex-row-reverse col">
    <button
      mat-raised-button
      [disabled]="!items.length"
      (click)="removeItem()"
      type="button"
    >
      {{ "button_remove_last" | translate }} {{ itemName | translate }}
    </button>
    <button
      mat-raised-button
      (click)="addItem()"
      class="ms-3 me-2"
      type="button"
    >
      {{ "button_add_one" | translate }} {{ itemName | translate }}
    </button>
  </div>
</div>
<div class="mb-4"></div>
