<form *ngIf="!this.code">
  <app-input
    class="row"
    [fieldConfig]="selectFormCodeInputConfig"
    [control]="getFormControl(selectFormCodeInputConfig.field)"
  >
  </app-input>
  <button
    mat-button
    [disabled]="this.form.status === 'INVALID'"
    (click)="selectCode()"
    type="button"
  >
    {{ "enter_code_button" | translate }}
  </button>
</form>

<form *ngIf="this.code && this.form">
  <!-- TODO remove translations -->
  <div *ngFor="let field of fieldsConfig">
    <app-input
      *ngIf="isInput(field)"
      class="row"
      [fieldConfig]="field | cast : InputConfig"
      [control]="getFormControl(field.field)"
    >
    </app-input>

    <app-tabla
      *ngIf="isTable(field)"
      [config]="field | cast : TableConfig"
      [control]="getFormControl(field.field)"
    >
    </app-tabla>

    <app-dropdown
      *ngIf="isDropdown(field)"
      [fieldConfig]="field | cast : DropdownConfig"
      [control]="getFormControl(field.field)"
    >
    </app-dropdown>
    <app-datepicker
      *ngIf="isDatepicker(field)"
      [fieldConfig]="field | cast : DatePickerConfig"
      [control]="getFormControl(field.field)"
    >
    </app-datepicker>
    <app-datepicker
      *ngIf="isDaterange(field)"
      [fieldConfig]="field | cast : DatePickerConfig"
      [group]="getFormGroup(field.field)"
    >
    </app-datepicker>
  </div>

  <button
    mat-button
    (click)="saveResponse()"
    type="button"
    [disabled]="this.form.status === 'INVALID'"
  >
    {{ "save_response" | translate }}
  </button>
</form>
