<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * *
    
    
    
<app-dropdown id="id" title="titulo" [items]="['a', 'b', 'c']" info="abdeqwe">
</app-dropdown>

    
<app-dropdown id="id" title="titulo" [items]="['a', 'b', 'c']" info="abdeqwe">
</app-dropdown>

<app-stage-list [stages]="stages"></app-stage-list>


<br />
<app-input
  [title]="inputData.title"
  [hint]="inputData.hint"
  [placeholder]="inputData.placeholder"
  [info]="inputData.info"
  [id]="inputData.id"
>
</app-input>

<br />
<app-input
  [title]="inputData.title"
  [hint]="inputData.hint"
  [placeholder]="inputData.placeholder"
  [info]="inputData.info"
  [id]="inputData.id"
>
</app-input>
<br />
<app-tabla
  [items]="itemsTabla"
  [title]="titleTabla"
  [itemName]="itemNameTabla"
  [columnsConfig]="columnsTabla"
  [dynamic]="true"
></app-tabla>
    
<app-dropdown id="id" title="titulo" [items]="['a', 'b', 'c']" info="abdeqwe">
</app-dropdown>

    * * * * * * * * * * * -->
<app-toolbar></app-toolbar>

<div class="ps-5 pe-5 pt-4" style="min-height: 85%">
  <router-outlet></router-outlet>
</div>

<app-underbar></app-underbar>
