<h2 mat-dialog-title>
  {{ "button_add" | translate }} {{ this.itemName | translate }}
</h2>
<div>
  <mat-dialog-content class="pb-0 row">
    <form class="pe-0 ps-0 d-inline">
      <div class="d-inline ps-1 pe-1" *ngFor="let field of fieldsConfig">
        <app-input
          *ngIf="isInput(field)"
          class="row"
          [fieldConfig]="field | cast : InputConfig"
          [control]="getFormControl(field.field)"
        >
        </app-input>

        <app-tabla
          *ngIf="isTable(field)"
          [config]="field | cast : TableConfig"
          [control]="getFormControl(field.field)"
        >
        </app-tabla>

        <app-dropdown
          *ngIf="isDropdown(field)"
          [fieldConfig]="field | cast : DropdownConfig"
          [control]="getFormControl(field.field)"
        >
        </app-dropdown>
        <app-datepicker
          *ngIf="isDatepicker(field)"
          [fieldConfig]="field | cast : DatePickerConfig"
          [control]="getFormControl(field.field)"
        >
        </app-datepicker>
        <app-datepicker
          *ngIf="isDaterange(field)"
          [fieldConfig]="field | cast : DatePickerConfig"
          [group]="getFormGroup(field.field)"
        >
        </app-datepicker>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="undefined">
      {{ "button_cancel" | translate }}
    </button>
    <button
      mat-button
      [mat-dialog-close]="this.form.value"
      [disabled]="this.form.status === 'INVALID'"
      cdkFocusInitial
    >
      {{ "button_add" | translate }}
    </button>
  </mat-dialog-actions>
</div>
