<div class="d-inline">
  <label *ngIf="fieldConfig.labelOnLeftSide">{{
    this.ts.translate(fieldConfig.header)
  }}</label>
  <label *ngIf="fieldConfig.labelOnLeftSide && fieldIsRequired">*</label>
  <mat-form-field>
    <mat-label *ngIf="!fieldConfig.labelOnLeftSide">{{
      this.ts.translate(fieldConfig.header)
    }}</mat-label>
    <input
      matInput
      placeholder="{{ this.ts.translate(fieldConfig.placeholder) }}"
      [formControl]="formControl"
    />
    <mat-hint
      class="text-danger text-nowrap"
      *ngFor="let error of listOfErrors()"
    >
      {{ error
      }}<!--TODO translate errors-->
    </mat-hint>
  </mat-form-field>
  <app-info-icon
    [size]="32"
    [info]="this.ts.translate(fieldConfig.info)"
  ></app-info-icon>
</div>
<!--TODO css-->
