<div class="d-inline-flex align-items-center pb-1">
  <div *ngIf="fieldConfig.labelOnLeftSide" class="pb-4 pe-1">
    <label>{{ fieldConfig.header | translate }} </label>
    <label *ngIf="fieldIsRequired">*</label>
  </div>
  <mat-form-field class="col">
    <mat-label *ngIf="!fieldConfig.labelOnLeftSide">{{
      fieldConfig.header | translate
    }}</mat-label>
    <input
      readonly="{{ fieldConfig.viewOnly }}"
      class=""
      matInput
      placeholder="{{ fieldConfig.placeholder | translate }}"
      [formControl]="control"
    />
    <mat-hint
      class="text-danger text-nowrap h-25"
      *ngFor="let error of listOfErrors()"
    >
      {{ error }}
    </mat-hint>
  </mat-form-field>

  <!--pb4 is the height of the mat-hint-->
  <app-info-icon
    class="pb-4"
    [size]="32"
    [info]="fieldConfig.info | translate"
  ></app-info-icon>
</div>
<!--TODO INCLUIR CSS EN EL INFO-->
