<form *ngIf="this.loginService.isLoggedIn()">
  <!--tabla para evaluadores-->
  <div>
    <app-tabla
      [control]="getFormControl(this.availableEvalConfig.field)"
      [config]="this.availableEvalConfig"
      (actionEvent)="this.navigateToEvaluation($event)"
    ></app-tabla>
  </div>
  <div>
    <app-tabla
      [control]="getFormControl(this.availableFormConfig.field)"
      [config]="this.availableFormConfig"
      (actionEvent)="this.navigateToForm($event)"
    ></app-tabla>
  </div>
</form>
